aside {
	margin-left: 80%;
}
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: nowrap;
}
a {
	text-decoration: none;
	color: grey;
}

.btn {

	background-color: blue;
	color: white;
	border-radius: 5px;
	font-weight: bold;
	height: 35px;
}

