
html {
	height : 100%; 
	
}

body {
	height : 100%; 
	display: flex;
	flex-direction: column;
	justify-content:space-between;
}


aside {
	display: flex;
	justify-content:flex-end;
}

nav {
	width: 300px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

a {
	text-decoration: none;
	color: grey;
}

a:hover {
	text-decoration: underline;
}

.btn {

	background-color: blue;
	color: white;
	border-radius: 5px;
	font-weight: bold;
	height: 35px;
}

section{
	height: 300px;
	display: flex;
	justify-content: center;
}

article {
	display: flex;
	flex-direction: column;
	align-items : center;
	justify-content: space-between;
}


.img_g {
	height: 100px;
}

.search {
	height: 40px;
	width : 600px;
	border : 1px rgb(216, 211, 211) solid;
	box-shadow : 4px 2px rgb(216, 211, 211);
}

.search:hover {
	box-shadow : 6px 4px rgb(216, 211, 211);
}

.btn2 {
	height: 30px;
	width: 150px;
	color : grey;
	background-color: rgb(250, 244, 244);
	border: none;
	font-weight: bold;
}

.btn2:hover {
	color: black;
	border:1px black solid;
}

.container2 {
	background-color: rgb(250, 244, 244);
	color: grey;
	height: 40px;
	border : 1px rgb(216, 211, 211) solid;
	border-bottom: none;	
	padding-left: 2.5%;
}

.container3 {
	background-color: rgb(250, 244, 244);
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	height: 40px;
	border : 1px rgb(216, 211, 211) solid;
}

.element2 {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 500px;
}


.element3 {
	display: flex;
	flex-wrap: nowrap;
}